<div class="form form-signup">
  <div class="form-header">
    <span><%=t(:resend_confirmation_instructions)%></span>
  </div>
  <div class="form-body">
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-info">
            <%=t(:info_forgot_password)%>
        </div>
        <br/>
        <div><%= f.label t(:email) %><br />
        <%= f.email_field :email, :class => "remember-email-input-field" %></div>

        <div class="form-buttons">
            <%= f.submit "", :class=>"send-button", :title=>t(:button_send) %>
        </div>
    <% end %>
    <div class="link-wrapper">
      <%= link_to t(:to_login_page), new_session_path(resource_name), :class=>"link" %>
      <%= link_to t(:forgot_password), new_password_path(resource_name), :class=>"link" %>
    </div>
  </div>
  <div class="form-footer"></div>
</div>