<div style="display: none;">
<%= Seer::init_visualization -%>
</div>
<div class="table-wrapper">
  <div class="table-wrapper-header">
    <span>
      <%=t(:statistic_date_title)%>
    </span>
  </div>
  <div class="table-wrapper-body">
    <%= form_tag('/generate_statistic_by_date') do -%>
        <div class="statistic-form-wrapper">
          <%= label_tag "date_from", t(:date_from)%>
          <%= text_field_tag "date_from", Date.today-1.month, :id=>"date_from_id", :readonly => true%>
          <%= label_tag "date_to", t(:date_to)%>
          <%= text_field_tag "date_to", Date.today, :id=>"date_to_id", :readonly => true%>
          <%= label_tag "transaction_type", t(:transaction_type)%>
          <%= select_tag "transaction_type", getTransactionTypesOptionList.html_safe%>
          <span class="">
            <%= submit_tag t(:button_statistic_show), :class => "link", :title => t(:button_statistic_show) %>
          </span>
        </div>
    <% end -%>
  </div>
</div>
<div class="statistic-graph-wrapper">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non aliquet arcu. Aenean sagittis arcu at tortor consectetur tincidunt. Vestibulum nunc turpis, faucibus ac gravida sit amet, egestas sit amet mi. Donec eu mauris lectus. Sed tristique mauris id risus ultricies at consequat nisi imperdiet. Vivamus nec turpis eget lorem dignissim sagittis sed id felis. Quisque in eros tortor, vel convallis ante. Curabitur congue neque at arcu tincidunt et venenatis erat eleifend. Donec nec dapibus nisl. Ut rhoncus scelerisque tortor et tincidunt. Donec ipsum lectus, congue vel dignissim mollis, egestas non tortor. Duis vestibulum ante ut ipsum fringilla volutpat. Quisque vitae nunc eget libero porta tincidunt at et arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis quam quis risus vehicula ultricies.
  Suspendisse facilisis iaculis elit, quis aliquam erat suscipit fermentum. Sed tempor felis vel sapien ultrices mattis. Vivamus et rutrum lectus. Aliquam erat volutpat. Aliquam feugiat, nisl non congue mollis, ante turpis sodales augue, et rutrum tortor nisl quis nisl. Vestibulum quis lectus ipsum, id porttitor mi. Curabitur neque sem, gravida eget pulvinar viverra, iaculis lacinia dui. Morbi egestas justo id purus lobortis cursus. Mauris rhoncus nisl non turpis commodo sollicitudin. Suspendisse augue orci, dictum sed pharetra in, tempor at quam. Quisque felis est, ultrices et vulputate nec, vestibulum ut metus. Fusce a lacus in dolor ornare tempus.
  Proin commodo, nulla sit amet tincidunt faucibus, risus turpis eleifend diam, non faucibus ante urna vitae nibh. Maecenas nibh tellus, fringilla eget eleifend ac, vestibulum blandit dui. Maecenas in velit urna, id congue augue. In rhoncus sem vitae ipsum tempor sed hendrerit urna euismod. Curabitur tristique dapibus vestibulum. Integer porttitor pharetra velit, in iaculis lectus pellentesque sed. Integer suscipit arcu sed eros tincidunt non accumsan libero ornare. Donec ut cursus dolor. Nam hendrerit porta libero at egestas. Suspendisse potenti. Vestibulum commodo bibendum leo, eget ultrices sem tempor eget.
  Nulla elementum semper neque at facilisis. Proin id quam ac justo vestibulum tempor. Nullam suscipit, odio at rutrum ullamcorper, enim massa tempor eros, a luctus orci nunc vel mauris. Vivamus orci enim, volutpat quis vestibulum nec, vehicula nec purus. Aenean tempor, orci vitae rhoncus facilisis, nisl quam imperdiet sapien, at mattis risus urna nec nunc. Nunc vel imperdiet nisi. Sed luctus, erat quis molestie congue, est massa porttitor mauris, et porttitor nisl ante ut diam. Vestibulum felis risus, dignissim sed tincidunt ut, accumsan sed lorem. Etiam quam libero, convallis at scelerisque ac, semper a dolor. Sed at ipsum felis, eget auctor sem.
</div>

