<!--statistic setting form-->
<div class="row-fluid">
  <div class="span12">
    <%= form_tag('/show_statistic_by_category', :id =>"statisticCategoryFormId", :remote => true, :class => "form-inline well statisticForm") do -%>
        <legend><%=t('form.title.statistic.category')%></legend>

        <%= label_tag "date_from_id", t('field.common.date_from'), :class => "control-label marginleft10px"%>
        <%= text_field_tag "date_from", Date.today-1.month, :id=>"date_from_id", :readonly => true, :class => "uneditable-input span2"%>

        <%= label_tag "date_to_id", t('field.common.date_to'), :class => "control-label marginleft10px"%>
        <%= text_field_tag "date_to", Date.today, :id=>"date_to_id", :readonly => true, :class => "uneditable-input span2"%>

        <%= label_tag "transaction_type_id", t('field.transaction.type'), :class => "control-label marginleft10px hidden-phone hidden-tablet"%>
        <%= select_tag "transaction_type", getTransactionTypesWithCategoriesOptionList.html_safe, :id => "transaction_type_id", :class => "span2 hidden-phone hidden-tablet" %>

        <%= label_tag "categories_count_id", t(:categories_display_count), :class => "control-label marginleft10px hidden-phone hidden-tablet"%>
        <%= select_tag "categories_count", getCategoriesDisplayCountOptionList.html_safe, :id => "categories_count_id", :class => "span1 hidden-phone hidden-tablet"%>

    <% end -%>
  </div>
</div>

<!--chart container-->
<div class="row-fluid">
  <div class="span12">
    <div id="chartContainer"></div>
  </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#transaction_type_id').change(function(){
            jQuery('#statisticCategoryFormId').submit();
        });
        jQuery('#categories_count_id').change(function(){
            jQuery('#statisticCategoryFormId').submit();
        });
        initCategoryChartOptions('<%=t('form.title.statistic.category')%>', '<%=t('common.other')%>');
        statisticInit();
    });
</script>