<div class="table-wrapper">
  <div class="table-wrapper-header">
    <span>
      <%=t(:statistic_category_title)%>
    </span>
  </div>
  <div class="table-wrapper-body">
    <%= form_tag('/show_statistic_by_category', :id =>"statisticCategoryFormId", :remote => true) do -%>
        <div class="statistic-form-wrapper">
          <%= label_tag "date_from", t(:date_from)%>
          <%= text_field_tag "date_from", Date.today-1.month, :id=>"date_from_id", :readonly => true, :class => "statistic-date-field"%>
          <%= label_tag "date_to", t(:date_to), :class => "statistic-date-label"%>
          <%= text_field_tag "date_to", Date.today, :id=>"date_to_id", :readonly => true, :class => "statistic-date-field"%>
          <%= label_tag "transaction_type", t(:transaction_type), :class => "statistic-date-label"%>
          <%= select_tag "transaction_type", getTransactionTypesWithCategoriesOptionList.html_safe%>
          <span class="">
            <%= link_to_function t(:button_statistic_show), "jQuery('#statisticCategoryFormId').submit();", :class => "link", :title => t(:button_statistic_show) %>
          </span>
        </div>
    <% end -%>
  </div>
</div>
<div id="chartContainer" class="statistic-graph-wrapper"></div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        resizeChartWrapper();
        jQuery(window).resize(function(){resizeChartWrapper();});
        initPieChartOptions('<%=t(:statistic_category_title)%>', '<%=t(:category_other)%>');
        statisticInit();
        jQuery('#statisticCategoryFormId').submit();
    });
</script>