<%= form_for(@eating) do |f| %>
  <% if @eating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eating.errors.count, "error") %> prohibited this eating from being saved:</h2>

      <ul>
      <% @eating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :enabled%>
  <%= f.hidden_field :weight_id%>
  <div class="field">
    <%= f.label t(:time) %>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label t(:food) %><br />
    <%= f.text_area :food, :size => "60x6", :class => "text-area" %>
  </div>
  <div class="field">
    <%= f.label t(:overweight) %>
    <%= f.check_box :overweight, :class => "input-field training-input-field" %>
  </div>
  <div class="actions form-buttons">
     <%= f.submit "", :class=>"save-button", :title=>t(:button_save)%>
  </div>
<% end %>
