<p id="notice"><%= notice %></p>

<p>
  <b>Enabled:</b>
  <%= @eating.enabled %>
</p>

<p>
  <b>Time:</b>
  <%= @eating.time %>
</p>

<p>
  <b>Food:</b>
  <%= @eating.food %>
</p>

<p>
  <b>Overweight:</b>
  <%= @eating.overweight %>
</p>


<%= link_to 'Edit', edit_eating_path(@eating) %> |
<%= link_to 'Back', eatings_path %>
