<div class="form form-signup">
  <div class="form-header">
    <span><%=t('link.change_password')%></span>
  </div>
  <div class="form-body">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-info">
          <%=t('info.change_password')%>
        </div>
        <br/>
        <div>
          <%= label_tag :password, t('field.user.password_new'), :class => "form-label" %><br />
          <%= f.password_field :password, :id => :password %>
        </div>

        <div>
          <%= label_tag :password_confirmation, t('field.user.password_confirm'), :class => "form-label" %><br />
          <%= f.password_field :password_confirmation, :id => :password_confirmation %>
        </div>

        <div class="form-buttons">
            <div><%= f.submit "", :class=>"save-button", :title=>t('button.save') %></div>
        </div>
    <% end %>
    <div class="link-wrapper">
      <%= link_to t('link.to_login_page'), new_session_path(resource_name), :class=>"link" %>
      <%= link_to t('link.sign.up'), new_registration_path(resource_name), :class => "link" %>
    </div>
  </div>
  <div class="form-footer"></div>
</div>