<%= form_for(resource, :as => resource_name, :url => password_path(resource_name),
             :html => { :method => :post, :class=> "form-horizontal well application-form"}) do |f| %>
    <legend><%=t('form.title.password_recovery')%></legend>
    <span class="help-block">
        <%=t('info.forgot_password')%>
    </span>
    <br/>

    <!--email field-->
    <div <% if resource.errors[:email].present? %>
            class="control-group error"
         <%elsif resource.errors.any?%>
            class="control-group success"
         <%else%>
            class="control-group"
         <% end %>>
      <%= label_tag :email, t('field.user.email'), :class => "control-label" %>
      <div class="controls">
        <%= f.email_field :email, :class => "remember-email-input-field", :id => :email %>
        <% if resource.errors[:email].present? %>
            <% resource.errors[:email].each do |msg|%>
                <p class="help-block"><%= msg%></p>
            <%end%>
        <%end%>
      </div>
    </div>

    <!--navigation links and submit form button-->
    <div class="control-group">
      <div class="controls">
        <div>
          <%= link_to t('link.to_login_page'), new_session_path(resource_name)%>
        </div>
        <div class="margintop10px">
          <%= link_to t('link.didnt_receive_confirmation_instructions'), new_confirmation_path(resource_name) %>
        </div>
        <div class="margintop10px">
          <%= f.submit t('button.send'), :class=>"btn btn-primary", :title=>t('button.send') %>
        </div>
      </div>
    </div>
<% end %>
