<div class="data-item weight-data-item">
  <span class="td-edit">
    <%= link_to t('button.edit'), edit_weight_path(weight),:class => "link" %>
  </span>
  <span class="td-delete">
    <%= link_to t('button.delete'), weight, confirm: t('message.confirm.delete'), method: :delete, :class => "link link-delete" %>
  </span>
  <span class="body-weight-date">
    <%=weight.date%>
  </span>
  <span class="body-weight-weight">
    <%=weight.weight%>
  </span>
  <span class="body-weight-day-difference">
    <%=weight.day_difference%>
  </span>
  <span class="body-weight-week-difference">
    <%=weight.week_difference%>
  </span>
  <span class="body-weight-month-difference">
    <%=weight.month_difference%>
  </span>
  <span class="td-edit td-add_eating">
    <%= link_to t('add.eating'), new_eating_path(:weight_id => weight.id),:class => "link" %>
  </span>
  <%if weight.eatings.nil? == false && weight.eatings.length > 0 %>
      <div class="eating-wrapper">
        <%= render :partial => "eatings/eating", :collection => weight.eatings, :as => :eating %>
      </div>
  <%end%>
</div>