<div id="tableWrapperID">
  <div id="tableWrapperHeaderID">
    <span>
      <%=t('form.title.statistic.weight')%>
    </span>
  </div>
  <div id="tableWrapperBodyID" class="statistic-table-wrapper-body">
    <%= form_tag('/show_statistic_weight', :id =>"statisticWeightFormId", :remote => true, :class => "statisticForm") do -%>
        <div class="statistic-form-wrapper">
          <%= label_tag "date_from_id", t('field.common.date_from'), :class => "statistic-date-label-left"%>
          <%= text_field_tag "date_from", Date.today-1.month, :id=>"date_from_id", :readonly => true, :class => "statistic-date-field"%>
          <%= label_tag "date_to_id", t('field.common.date_to'), :class => "statistic-date-label"%>
          <%= text_field_tag "date_to", Date.today, :id=>"date_to_id", :readonly => true, :class => "statistic-date-field"%>
        </div>
    <% end -%>
  </div>
</div>
<div id="chartContainer" class="statistic-graph-wrapper"></div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        initStatisticByDateChartOptions('<%=t('form.title.statistic.weight')%>','<%=t('field.common.date')%>','<%=t('field.weight.weight')%>');
        statisticInit();
    });
</script>