<script src="http://loginza.ru/js/widget.js" type="text/javascript"></script>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
                            :html => {:id => "signInFormID", :class=> "form-horizontal well application-form"}) do |f| %>
    <legend><%=t('form.title.login')%></legend>
    <div class="control-group">
      <%= label_tag :email, t('field.user.email'), :class => "control-label" %>
      <div class="controls">
        <%= f.email_field :email, :id => :email%>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :password, t('field.user.password'), :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password, :id => :password%>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <% if devise_mapping.rememberable? -%>
            <label class="checkbox">
                <%= f.check_box :remember_me, :id => :remember_me %> <%=t('field.user.remember_me')%>
            </label>
        <% end -%>
        <%= render 'social'%>
        <div class="margintop10px">
            <%= link_to t('link.sign.up'), new_registration_path(resource_name) %>
        </div>
        <div class="margintop10px">
            <%= link_to t('link.forgot_password'), new_password_path(resource_name) %>
        </div>
        <div class="margintop10px">
            <%= f.submit t('link.sign.in'), :class=>"btn btn-primary", :title=>t('link.sign.in')%>
        </div>
       </div>
    </div>
<% end %>

