<tr>
    <td class="td-center">
      <div class="btn-group hidden-phone hidden-tablet">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-circle-arrow-down"></i> <%=t('button.action')%>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to edit_category_path(category) do%>
                <i class="icon-edit"></i> <%=t('button.edit')%>
            <%end%>
          </li>
          <li>
            <%= link_to category, confirm: t('message.confirm.delete'), method: :delete do%>
                <i class="icon-remove"></i> <%=t('button.delete')%>
            <%end%>
          </li>
        </ul>
      </div>
      <div class="hidden-desktop">
        <%= link_to edit_category_path(category) do%>
            <%=t('button.edit')%>
        <%end%>
        <%= link_to category, confirm: t('message.confirm.delete'), method: :delete do%>
            <%=t('button.delete')%>
        <%end%>
      </div>
    </td>
    <td>
      <div class="color-indicator" style="background-color: <%=getCategoryColor(category)%>;">
        &nbsp;
      </div>
    </td>
    <td><%=category.name%></td>
    <td><%=category.description%></td>
</tr>