<tr>
    <td class="td-center">
        <%= link_to edit_category_path(category), :class => 'btn' do%>
            <i class="icon-pencil"></i>
        <%end%>
        <%= link_to category, confirm: t('message.confirm.delete'), method: :delete, :class => 'btn' do%>
            <i class="icon-trash"></i>
        <%end%>
    </td>
    <td>
      <div class="color-indicator" style="background-color: <%=getCategoryColor(category)%>;">
        &nbsp;
      </div>
    </td>
    <td><%=category.name%></td>
    <td><%=category.description%></td>
</tr>