<div class = "form-inline well">
    <legend><%=t('list.categories')%></legend>

    <%= link_to new_category_path, :class => 'btn btn-success', :title => t('button.add') do%>
            <i class="icon-plus icon-white"></i> <%=t('button.add')%>
    <%end%>

    <%= label_tag 'field', t('sorting_by'), :class => 'control-label marginleft10px hidden-phone'%>

    <%= select_tag 'field', get_categories_sorting_options(@field).html_safe , :id => 'field',
                      :class => 'input-medium hidden-phone',
                      :title => t('tooltip.input.sorting_field')%>

    <%= select_tag 'direction', get_sorting_directions(@direction).html_safe, :id => 'direction',
                      :class => 'input-medium hidden-phone',
                      :title => t('tooltip.input.sorting_direction')%>
</div>