<!--categories form-->
<div class="row-fluid">
  <div class="span8">
        <%= form_for(@category, :html => {:class=> 'form-horizontal well application-form'}) do |f| %>
            <%= f.hidden_field :amount%>
            <%= f.hidden_field :enabled%>
            <%= f.hidden_field :user_id%>

            <legend><%=@legend%></legend>

            <%= render :partial => 'categories/category_name_field', :locals => {:f => f}%>
            <%= render :partial => 'categories/category_description_field', :locals => {:f => f}%>
            <%= render :partial => 'categories/category_color_field', :locals => {:f => f}%>

            <%= render :partial => 'categories/form_buttons'%>
        <% end %>
  </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        new CategoriesForm({});
    });
</script>