<div class="table-wrapper">
  <div class="table-wrapper-header">
    <span>
      <%=t('list.categories')%>
    </span>
  </div>
  <div class="table-wrapper-body">
    <%= link_to t('add.category'), new_category_path, :class => "link" %>
    <table class="data-table" >
      <thead>
          <tr>
            <th class="header-category-color"><%=t('field.category.color')%></th>
            <th class="header-category-name"><%=t('field.common.name')%></th>
            <th class="header-category-description"><%=t('field.common.description')%></th>
            <th></th>
            <th></th>
          </tr>
      </thead>
    </table>
    <div class="data-wrapper">
      <% @categories.each do |category| %>
          <div class="data-item category-data-item">
            <div class="body-category-color">
                <div style="background-color: <%=getCategoryColor(category)%>;">&nbsp;</div>
            </div>
            <span class="body-category-name"><strong><%=category.name%></strong></span>
            <span class="body-category-description"><%=category.description%></span>
            <span class="td-delete">
                <%= link_to t('button.delete'), category, confirm: t('message.confirm.delete'), method: :delete, :class => "link link-delete" %></span>
            <span class="td-edit"><%= link_to t('button.edit'), edit_category_path(category),:class => "link" %></span>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        resizeDataWrapper();
        jQuery(window).resize(function(){resizeDataWrapper();});
    });
</script>








