<%=render '/notifications'%>

<!--sorting form-->
<!--<div class="row-fluid">-->
  <!--<div class="span12">-->
    <!--<%#= render :partial => 'filter'%>-->
  <!--</div>-->
<!--</div>-->

<!--data table-->
<div class="row-fluid">
  <div class="span12">
    <table class="table table-hover table-condensed">
      <thead>
          <tr class="well">
            <th>
                <%= link_to new_category_path, :class => 'btn btn-success', :title => t('button.add') do%>
                  <i class="icon-plus icon-white"></i> <%=t('button.add')%>
                <%end%>
            </th>
            <th width="5%"><%=t('field.category.color')%></th>
            <th width="25%">
              <%=link_to t('field.common.name'), '#', :class => 'sorting-header', :data_field => 'name'%>
              <i class="icon-arrow-up"></i>
              <i class="icon-arrow-down no-disp"></i>
            </th>
            <th width="60%">
              <%=link_to t('field.common.description'), '#', :class => 'sorting-header', :data_field => 'description'%>
              <i class="icon-arrow-up no-disp"></i>
              <i class="icon-arrow-down no-disp"></i>
            </th>
          </tr>
      </thead>
      <tbody id="data_wrapper"></tbody>
    </table>
  </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function(){new CategoriesIndex({})});
</script>








