<p><%=t('mail.reset_password.title')%> <%= @resource.email %>!</p>

<p><%=t('mail.reset_password.message1')%></p>

<p><%= link_to t('mail.reset_password.link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%=t('mail.reset_password.message2')%></p>
<p><%=t('mail.reset_password.message3')%></p>
