<p><%=t(:mail_reset_password_title)%> <%= @resource.email %>!</p>

<p><%=t(:mail_reset_password_message1)%></p>

<p><%= link_to t(:mail_reset_password_link), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%=t(:mail_reset_password_message2)%></p>
<p><%=t(:mail_reset_password_message3)%></p>
