<p><%=t('mail.unlock.title')%> <%= @resource.email %>!</p>

<p><%=t('mail.unlock.message1')%></p>

<p><%=t('mail.unlock.message2')%></p>

<p><%= link_to t('mail.unlock.link'), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
