<!--day of week color popup-->
<div id="day_popup" class="no-disp">
  <ul class="no-list-style">
    <li>
      <div class="color-indicator-small" style="background-color: <%=get_row_color_by_day(1)%>;">&nbsp;</div>
      <%=t('week.day.monday')%>
    </li>
    <li>
      <div class="color-indicator-small" style="background-color: <%=get_row_color_by_day(2)%>;">&nbsp;</div>
      <%=t('week.day.tuesday')%>
    </li>
    <li>
      <div class="color-indicator-small" style="background-color: <%=get_row_color_by_day(3)%>;">&nbsp;</div>
      <%=t('week.day.wednesday')%>
    </li>
    <li>
      <div class="color-indicator-small" style="background-color: <%=get_row_color_by_day(4)%>;">&nbsp;</div>
      <%=t('week.day.thursday')%>
    </li>
    <li>
      <div class="color-indicator-small" style="background-color: <%=get_row_color_by_day(5)%>;">&nbsp;</div>
      <%=t('week.day.friday')%>
    </li>
    <li>
      <div class="color-indicator-small" style="background-color: <%=get_row_color_by_day(6)%>;">&nbsp;</div>
      <%=t('week.day.saturday')%>
    </li>
    <li>
      <div class="color-indicator-small" style="background-color: <%=get_row_color_by_day(0)%>;">&nbsp;</div>
      <%=t('week.day.sunday')%>
    </li>
  </ul>
</div>
