<%= form_tag(filter_transactions_path(:type =>@transaction_type), :id =>"transactionFilterFormId", :method=>:post, :remote => true, :class => "transaction-filter-form") do -%>
    <div>
      <%= link_to t('add.item'), new_transaction_path(:type => @transaction_type), :class => "link link-inline" %>
      <%=hidden_field_tag 'type', @transaction_type%>
      <%= label_tag "date_from", t('field.common.date_from'), :class => "statistic-date-label-left"%>
      <%= text_field_tag "date_from", @date_from, :id=>"date_from_id", :readonly => true, :class => "statistic-date-field"%>
      <%= label_tag "date_to", t('field.common.date_to'), :class => "statistic-date-label"%>
      <%= text_field_tag "date_to", @date_to, :id=>"date_to_id", :readonly => true, :class => "statistic-date-field"%>
      <%if @transaction_type == getTransactionFromAccountToCategory ||
              @transaction_type == getTransactionFromCashToCategory%>
          <%= label_tag "category", t('field.transaction.category'), :class => "statistic-date-label"%>
          <%= select_tag "category",  options_from_collection_for_select(@categories, "id", "name", @category_id), :include_blank => true, :id => "category_id"%>
      <%end%>
    </div>
    <div class="transaction-sorting-form">
      <%= label_tag "field", t('sorting_by'), :class => "statistic-date-label", :style => "font-weight: bold;"%>
      <%= select_tag "field", getTransactionsSortingOptionList(@transaction_type).html_safe , :id => "field_id"%>
      <%= select_tag "direction", getSortingDirectionOptionList.html_safe , :id => "direction_id"%>
    </div>
<% end -%>