<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><%=t('form.title.filter')%></h3>
  </div>
  <div class="modal-body">
      <%= form_tag(load_transactions_path, :method=>:get, :remote => true, :id => 'filter_form',
                 :class => 'form-horizontal well application-form') do %>

        <%hidden_field_tag :type, @transaction_type%>

        <%=render :partial => 'filter_date_from_field'%>
        <%=render :partial => 'filter_date_to_field'%>
        <%=render :partial => 'filter_sum_min_field'%>
        <%=render :partial => 'filter_sum_max_field'%>

        <%if  @transaction_type.to_i == Transaction::TR_TO_ACCOUNT%>
            <%= render :partial => 'filter_account_to_field'%>
        <%elsif  @transaction_type.to_i == Transaction::TR_FROM_ACCOUNT_TO_ACCOUNT%>
            <%= render :partial => 'filter_account_from_field'%>
            <%= render :partial => 'filter_account_to_field'%>
        <%elsif  @transaction_type.to_i == Transaction::TR_FROM_ACCOUNT_TO_CASH%>
            <%= render :partial => 'filter_account_from_field'%>
            <%= render :partial => 'filter_cash_to_field'%>
        <%elsif  @transaction_type.to_i == Transaction::TR_FROM_ACCOUNT_TO_CATEGORY%>
            <%= render :partial => 'filter_account_from_field'%>
            <%= render :partial => 'filter_category_field'%>
        <%elsif  @transaction_type.to_i == Transaction::TR_TO_CASH%>
            <%= render :partial => 'filter_cash_to_field'%>
        <%elsif  @transaction_type.to_i == Transaction::TR_FROM_CASH_TO_ACCOUNT%>
            <%= render :partial => 'filter_cash_from_field'%>
            <%= render :partial => 'filter_account_to_field'%>
        <%elsif  @transaction_type.to_i == Transaction::TR_FROM_CASH_TO_CASH%>
            <%= render :partial => 'filter_cash_from_field'%>
            <%= render :partial => 'filter_cash_to_field'%>
        <%elsif  @transaction_type.to_i == Transaction::TR_FROM_CASH_TO_CATEGORY%>
            <%= render :partial => 'filter_cash_from_field'%>
            <%= render :partial => 'filter_category_field'%>
        <%end%>
      <%end%>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
      <%=t('button.back')%>
    </button>
    <%= link_to '#', :id => 'filter_submit', :class => 'btn btn-primary', :title => t('button.filter') do%>
        <i class="icon-search icon-white"></i> <%=t('button.filter')%>
    <%end%>
  </div>
</div>