<!--transaction form-->
<div class="row-fluid">
  <div class="span12">
        <%= form_for(@transaction, :html => {:class=> "form-horizontal well"}) do |f| %>
          <%= f.hidden_field :transaction_type%>

          <legend><%=@legend%></legend>

          <!--transaction amount field-->
          <div <% if @transaction.errors[:amount].present? %>
                class="control-group error"
             <%elsif @transaction.errors.any?%>
                class="control-group success"
             <%else%>
                class="control-group"
             <% end %>>
            <%= label_tag :amount, t('field.transaction.summa'), :class => "control-label" %>
            <div class="controls">
                <%= f.number_field :amount, :id => "amount", :class => "span3"%>
                <% if @transaction.errors[:amount].present? %>
                    <% @transaction.errors[:amount].each do |msg|%>
                        <p class="help-block"><%= msg%></p>
                    <%end%>
                <%end%>
            </div>
          </div>

        <!--transaction date field-->
        <div <% if @transaction.errors[:date].present? %>
                class="control-group error"
             <%elsif @transaction.errors.any?%>
                class="control-group success"
             <%else%>
                class="control-group"
             <% end %>>
          <%= label_tag :amount, t('field.common.date'), :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :date, :id => "date", :class => "span3", :readOnly => "readonly"%>
            <% if @transaction.errors[:date].present? %>
                <% @transaction.errors[:date].each do |msg|%>
                    <p class="help-block"><%= msg%></p>
                <%end%>
            <%end%>
          </div>
        </div>

        <%if  @transaction.transaction_type == Transaction::TRANSACTION_TO_ACCOUNT.to_s(10) ||  @transaction.transaction_type == Transaction::TRANSACTION_TO_ACCOUNT%>
            <%=render :partial => 'transactions/field_account_to'%>
        <%elsif  @transaction.transaction_type == Transaction::TRANSACTION_FROM_ACCOUNT_TO_ACCOUNT.to_s(10) ||  @transaction.transaction_type == Transaction::TRANSACTION_FROM_ACCOUNT_TO_ACCOUNT%>
            <%=render :partial => 'transactions/field_account_from'%>
            <%=render :partial => 'transactions/field_account_to'%>
        <%elsif  @transaction.transaction_type == Transaction::TRANSACTION_FROM_ACCOUNT_TO_CASH.to_s(10) ||  @transaction.transaction_type == Transaction::TRANSACTION_FROM_ACCOUNT_TO_CASH%>
            <%=render :partial => 'transactions/field_account_from'%>
            <%=render :partial => 'transactions/field_cash_to'%>
        <%elsif  @transaction.transaction_type == Transaction::TRANSACTION_FROM_ACCOUNT_TO_CATEGORY.to_s(10) ||  @transaction.transaction_type == Transaction::TRANSACTION_FROM_ACCOUNT_TO_CATEGORY%>
            <%=render :partial => 'transactions/field_account_from'%>
            <%=render :partial => 'transactions/field_category'%>
        <%elsif  @transaction.transaction_type == Transaction::TRANSACTION_TO_CASH.to_s(10) ||  @transaction.transaction_type == Transaction::TRANSACTION_TO_CASH%>
            <%=render :partial => 'transactions/field_cash_to'%>
        <%elsif  @transaction.transaction_type == Transaction::TRANSACTION_FROM_CASH_TO_ACCOUNT.to_s(10) ||  @transaction.transaction_type == Transaction::TRANSACTION_FROM_CASH_TO_ACCOUNT%>
            <%=render :partial => 'transactions/field_cash_from'%>
            <%=render :partial => 'transactions/field_account_to'%>
        <%elsif  @transaction.transaction_type == Transaction::TRANSACTION_FROM_CASH_TO_CASH.to_s(10) ||  @transaction.transaction_type == Transaction::TRANSACTION_FROM_CASH_TO_CASH%>
            <%=render :partial => 'transactions/field_cash_from'%>
            <%=render :partial => 'transactions/field_cash_to'%>
        <%elsif  @transaction.transaction_type == Transaction::TRANSACTION_FROM_CASH_TO_CATEGORY.to_s(10) ||  @transaction.transaction_type == Transaction::TRANSACTION_FROM_CASH_TO_CATEGORY%>
            <%=render :partial => 'transactions/field_cash_from'%>
            <%=render :partial => 'transactions/field_category'%>
        <%end%>

        <!--transaction comment field-->
        <div <% if @transaction.errors[:comment].present? %>
                class="control-group error"
             <%elsif @transaction.errors.any?%>
                class="control-group success"
             <%else%>
                class="control-group"
             <% end %>>
          <%= label_tag :comment, t('field.transaction.comment'), :class => "control-label" %>
          <div class="controls">
            <%= f.text_area :comment, :size => "60x6", :class => "span8"%>
            <% if @transaction.errors[:comment].present? %>
                <% @transaction.errors[:comment].each do |msg|%>
                    <p class="help-block"><%= msg%></p>
                <%end%>
            <%end%>
          </div>
        </div>

        <!--form buttons and navigation links-->
        <div class="control-group">
          <div class="controls">
            <%= link_to transactions_path(:type => @transaction.transaction_type, :page => session[:page]), :class=>"btn" do%>
                <i class="icon-arrow-left"></i> <%=t('button.back')%>
            <%end%>
            <%= link_to "#", class: "btn btn-primary", :onclick=>"$('form').submit()" do%>
                <i class="icon-ok icon-white"></i> <%=t('button.save')%>
            <%end%>
          </div>
        </div>
      <% end %>
  </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
        transactionsJS.formInit();
    });
</script>