<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, t('common.error')) %> <%=t('message.error.transaction.header')%></h2>
      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :transaction_type%>
  <div class="margin-top10"><%= f.label t('field.transaction.summa'), :class => "form-label" %><br />
    <%= f.number_field :amount, :id => "transactionAmountId", :class => "input-field amount-input-field"%>
  </div>
  <div class="margin-top10"><%= f.label t('field.common.date'), :class => "form-label"%><br/>
    <%= f.text_field :date, :class => "input-field amount-input-field",  :id => "transactionDateId", :readOnly => true%>
  </div>

<%if  @transaction.transaction_type == TRANSACTION_TO_ACCOUNT.to_s(10) ||  @transaction.transaction_type == TRANSACTION_TO_ACCOUNT%>
  <div class="margin-top10">
    <%= f.label t('field.transaction.account_to'), :class => "form-label"%>
    <%if @task_new == true%><br/>
        <%= collection_select(:transaction, :account_to_id, @accounts, :id, :name,
                              {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
    <%else%>
        <span class="account-name"><%= @transaction.account_to.name %></span>
    <%end%>
  </div>
<%elsif  @transaction.transaction_type == TRANSACTION_FROM_ACCOUNT_TO_ACCOUNT.to_s(10) ||  @transaction.transaction_type == TRANSACTION_FROM_ACCOUNT_TO_ACCOUNT%>
    <div class="margin-top10">
      <%= f.label t('field.transaction.account_from'), :class => "form-label"%>
      <%if @task_new == true%><br/>
          <%= collection_select(:transaction, :account_from_id, @accounts, :id, :name,
                            {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_from.name %></span>
      <%end%>
    </div>
    <div class="margin-top10">
      <%= f.label t('field.transaction.account_to'), :class => "form-label"%>
      <%if @task_new == true%><br/>
          <%= collection_select(:transaction, :account_to_id, @accounts, :id, :name,
                            {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_to.name %></span>
      <%end%>
    </div>
<%elsif  @transaction.transaction_type == TRANSACTION_FROM_ACCOUNT_TO_CASH.to_s(10) ||  @transaction.transaction_type == TRANSACTION_FROM_ACCOUNT_TO_CASH%>
    <div class="margin-top10">
      <%= f.label t('field.transaction.account_from'), :class => "form-label"%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :account_from_id, @accounts, :id, :name,
                            {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_from.name %></span>
      <%end%>
    </div>
    <div class="margin-top10">
      <%= f.label t('field.transaction.cash_to'), :class => "form-label"%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :account_to_id, @cashes, :id, :name,
                            {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_to.name %></span>
      <%end%>
    </div>
<%elsif  @transaction.transaction_type == TRANSACTION_FROM_ACCOUNT_TO_CATEGORY.to_s(10) ||  @transaction.transaction_type == TRANSACTION_FROM_ACCOUNT_TO_CATEGORY%>
    <div class="margin-top10">
      <%= f.label t('field.transaction.account_from'), :class => "form-label"%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :account_from_id, @accounts, :id, :name,
                            {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_from.name %></span>
      <%end%>
    </div>
    <div class="margin-top10">
      <%= f.label t('field.transaction.category'), :class => "form-label"%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :category_id, @categories, :id, :name,
                            {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.category.name %></span>
      <%end%>
    </div>
<%elsif  @transaction.transaction_type == TRANSACTION_TO_CASH.to_s(10) ||  @transaction.transaction_type == TRANSACTION_TO_CASH%>
    <div class="margin-top10">
      <%= f.label t('field.transaction.cash_to'), :class => "form-label"%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :account_to_id, @cashes, :id, :name,
                            {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_to.name %></span>
      <%end%>
    </div>
<%elsif  @transaction.transaction_type == TRANSACTION_FROM_CASH_TO_ACCOUNT.to_s(10) ||  @transaction.transaction_type == TRANSACTION_FROM_CASH_TO_ACCOUNT%>
    <div class="margin-top10">
      <%= f.label t('field.transaction.cash_from'), :class => "form-label"%>
      <%if @task_new == true%><br/>
             <%= collection_select(:transaction, :account_from_id, @cashes, :id, :name,
                            {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_from.name %></span>
      <%end%>
    </div>
    <div class="margin-top10">
      <%= f.label t('field.transaction.account_to'), :class => "form-label"%>
      <%if @task_new == true%><br/>
          <%= collection_select(:transaction, :account_to_id, @accounts, :id, :name,
                            {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_to.name %></span>
      <%end%>
    </div>
<%elsif  @transaction.transaction_type == TRANSACTION_FROM_CASH_TO_CASH.to_s(10) ||  @transaction.transaction_type == TRANSACTION_FROM_CASH_TO_CASH%>
    <div class="margin-top10">
      <%= f.label t('field.transaction.cash_from'), :class => "form-label"%>
      <%if @task_new == true%><br/>
          <%= collection_select(:transaction, :account_from_id, @cashes, :id, :name,
                            {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_from.name %></span>
      <%end%>
    </div>
    <div class="margin-top10">
      <%= f.label t('field.transaction.cash_to'), :class => "form-label"%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :account_to_id, @cashes, :id, :name,
                            {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_to.name %></span>
      <%end%>
    </div>
<%elsif  @transaction.transaction_type == TRANSACTION_FROM_CASH_TO_CATEGORY.to_s(10) ||  @transaction.transaction_type == TRANSACTION_FROM_CASH_TO_CATEGORY%>
    <div class="margin-top10">
      <%= f.label t('field.transaction.cash_from'), :class => "form-label"%>
      <%if @task_new == true%><br/>
           <%= collection_select(:transaction, :account_from_id, @cashes, :id, :name,
                            {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
      <%else%>
           <span class="account-name"><%= @transaction.account_from.name %></span>
      <%end%>
    </div>
    <div class="margin-top10">
      <%= f.label t('field.transaction.category'), :class => "form-label"%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :category_id, @categories, :id, :name,
                            {:include_blank => t('common.undefined')}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.category.name %></span>
      <%end%>
    </div>
<%end%>
  <div class="margin-top10"><%= f.label t('field.transaction.comment'), :class => "form-label" %><br />
    <%= f.text_area :comment, :size => "60x6", :class => "text-area"%>
  </div>
  <div class="emptyh20">&nbsp;</div>
  <div class="actions form-buttons">
     <%= f.submit "", :class=>"save-button", :title=>t('button.save')%>
  </div>
<% end %>

<script type="text/javascript">
    jQuery(document).ready(function(){
        transactionsJS.formInit();
    });
</script>