<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, t(:error)) %> <%=t(:message_transaction_errors_header)%></h2>
      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :transaction_type%>
  <div><%= f.label t(:summa) %><br />
    <%= f.number_field :amount, :class => "input-field amount-input-field"%>
  </div>
  <div class="div-padding5"><%= f.label t(:date)%><br/>
    <%= date_select("transaction", "date", :order => [:day, :month, :year], :start_year => 2012, :use_month_numbers => true)%>
  </div>

<%if @transaction_type == getTransactionToAccount.to_s(10)%>
  <div class="div-padding5">
    <%= f.label t(:account_to)%><br/>
    <%= collection_select(:transaction, :account_to_id, @accounts, :id, :name, {}, {:class=>"account-select"})%>
  </div>
<%elsif @transaction_type == getTransactionFromAccountToAccount.to_s(10)%>
    <div class="div-padding5">
      <%= f.label t(:account_from)%><br/>
      <%= collection_select(:transaction, :account_from_id, @accounts, :id, :name, {}, {:class=>"account-select"})%>
    </div>
    <div class="div-padding5">
      <%= f.label t(:account_to)%><br/>
      <%= collection_select(:transaction, :account_to_id, @accounts, :id, :name, {}, {:class=>"account-select"})%>
    </div>
<%elsif @transaction_type == getTransactionFromAccountToCash.to_s(10)%>
    <div class="div-padding5">
      <%= f.label t(:account_from)%><br/>
      <%= collection_select(:transaction, :account_from_id, @accounts, :id, :name, {}, {:class=>"account-select"})%>
    </div>
    <div class="div-padding5">
      <%= f.label t(:cash_to)%><br/>
      <%= collection_select(:transaction, :account_to_id, @cashes, :id, :name, {}, {:class=>"account-select"})%>
    </div>
<%elsif @transaction_type == getTransactionFromAccountToCategory.to_s(10)%>
    <div class="div-padding5">
      <%= f.label t(:account_from)%><br/>
      <%= collection_select(:transaction, :account_from_id, @accounts, :id, :name, {}, {:class=>"account-select"})%>
    </div>
    <div class="div-padding5">
      <%= f.label t(:category)%><br/>
      <%= collection_select(:transaction, :category_id, @categories, :id, :name, {}, {:class=>"account-select"})%>
    </div>
<%elsif @transaction_type == getTransactionToCash.to_s(10)%>
    <div class="div-padding5">
      <%= f.label t(:cash_to)%><br/>
      <%= collection_select(:transaction, :account_to_id, @cashes, :id, :name, {}, {:class=>"account-select"})%>
    </div>
<%elsif @transaction_type == getTransactionFromCashToAccount.to_s(10)%>
    <div class="div-padding5">
      <%= f.label t(:cash_from)%><br/>
      <%= collection_select(:transaction, :account_from_id, @cashes, :id, :name, {}, {:class=>"account-select"})%>
    </div>
    <div class="div-padding5">
      <%= f.label t(:account_to)%><br/>
      <%= collection_select(:transaction, :account_to_id, @accounts, :id, :name, {}, {:class=>"account-select"})%>
    </div>
<%elsif @transaction_type == getTransactionFromCashToCash.to_s(10)%>
    <div class="div-padding5">
      <%= f.label t(:cash_from)%><br/>
      <%= collection_select(:transaction, :account_from_id, @cashes, :id, :name, {}, {:class=>"account-select"})%>
    </div>
    <div class="div-padding5">
      <%= f.label t(:cash_to)%><br/>
      <%= collection_select(:transaction, :account_to_id, @cashes, :id, :name, {}, {:class=>"account-select"})%>
    </div>
<%elsif @transaction_type == getTransactionFromCashToCategory.to_s(10)%>
    <div class="div-padding5">
      <%= f.label t(:cash_from)%><br/>
      <%= collection_select(:transaction, :account_from_id, @cashes, :id, :name, {}, {:class=>"account-select"})%>
    </div>
    <div class="div-padding5">
      <%= f.label t(:category)%><br/>
      <%= collection_select(:transaction, :category_id, @categories, :id, :name, {}, {:class=>"account-select"})%>
    </div>
<%end%>
  <div class="div-padding5"><%= f.label t(:comment) %><br />
    <%= f.text_area :comment, :size => "60x6", :class => "text-area"%>
  </div>
  <div class="emptyh20">&nbsp;</div>
  <div class="actions form-buttons">
     <%= f.submit "", :class=>"save-button", :title=>t(:button_save)%>
  </div>
<% end %>
