<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, t(:error)) %> <%=t(:message_transaction_errors_header)%></h2>
      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :transaction_type%>
  <div><%= f.label t(:summa) %><br />
    <%= f.number_field :amount, :class => "input-field amount-input-field"%>
  </div>
  <div class="div-padding5"><%= f.label t(:date)%><br/>
    <%= date_select("transaction", "date", :order => [:day, :month, :year], :start_year => 2012, :use_month_numbers => true)%>
  </div>

<%if @transaction_type == getTransactionToAccount.to_s(10) || @transaction_type == getTransactionToAccount%>
  <div class="div-padding5">
    <%= f.label t(:account_to)%>
    <%if @task_new == true%><br/>
        <%= collection_select(:transaction, :account_to_id, @accounts, :id, :name,
                              {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
    <%else%>
        <span class="account-name"><%= @transaction.account_to.name %></span>
    <%end%>
  </div>
<%elsif @transaction_type == getTransactionFromAccountToAccount.to_s(10) || @transaction_type == getTransactionFromAccountToAccount%>
    <div class="div-padding5">
      <%= f.label t(:account_from)%>
      <%if @task_new == true%><br/>
          <%= collection_select(:transaction, :account_from_id, @accounts, :id, :name,
                            {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_from.name %></span>
      <%end%>
    </div>
    <div class="div-padding5">
      <%= f.label t(:account_to)%>
      <%if @task_new == true%><br/>
          <%= collection_select(:transaction, :account_to_id, @accounts, :id, :name,
                            {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_to.name %></span>
      <%end%>
    </div>
<%elsif @transaction_type == getTransactionFromAccountToCash.to_s(10) || @transaction_type == getTransactionFromAccountToCash%>
    <div class="div-padding5">
      <%= f.label t(:account_from)%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :account_from_id, @accounts, :id, :name,
                            {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_from.name %></span>
      <%end%>
    </div>
    <div class="div-padding5">
      <%= f.label t(:cash_to)%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :account_to_id, @cashes, :id, :name,
                            {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_to.name %></span>
      <%end%>
    </div>
<%elsif @transaction_type == getTransactionFromAccountToCategory.to_s(10) || @transaction_type == getTransactionFromAccountToCategory%>
    <div class="div-padding5">
      <%= f.label t(:account_from)%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :account_from_id, @accounts, :id, :name,
                            {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_from.name %></span>
      <%end%>
    </div>
    <div class="div-padding5">
      <%= f.label t(:category)%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :category_id, @categories, :id, :name,
                            {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.category.name %></span>
      <%end%>
    </div>
<%elsif @transaction_type == getTransactionToCash.to_s(10) || @transaction_type == getTransactionToCash%>
    <div class="div-padding5">
      <%= f.label t(:cash_to)%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :account_to_id, @cashes, :id, :name,
                            {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_to.name %></span>
      <%end%>
    </div>
<%elsif @transaction_type == getTransactionFromCashToAccount.to_s(10) || @transaction_type == getTransactionFromCashToAccount%>
    <div class="div-padding5">
      <%= f.label t(:cash_from)%>
      <%if @task_new == true%><br/>
             <%= collection_select(:transaction, :account_from_id, @cashes, :id, :name,
                            {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_from.name %></span>
      <%end%>
    </div>
    <div class="div-padding5">
      <%= f.label t(:account_to)%>
      <%if @task_new == true%><br/>
          <%= collection_select(:transaction, :account_to_id, @accounts, :id, :name,
                            {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_to.name %></span>
      <%end%>
    </div>
<%elsif @transaction_type == getTransactionFromCashToCash.to_s(10) || @transaction_type == getTransactionFromCashToCash%>
    <div class="div-padding5">
      <%= f.label t(:cash_from)%>
      <%if @task_new == true%><br/>
          <%= collection_select(:transaction, :account_from_id, @cashes, :id, :name,
                            {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_from.name %></span>
      <%end%>
    </div>
    <div class="div-padding5">
      <%= f.label t(:cash_to)%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :account_to_id, @cashes, :id, :name,
                            {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.account_to.name %></span>
      <%end%>
    </div>
<%elsif @transaction_type == getTransactionFromCashToCategory.to_s(10) || @transaction_type == getTransactionFromCashToCategory%>
    <div class="div-padding5">
      <%= f.label t(:cash_from)%>
      <%if @task_new == true%><br/>
           <%= collection_select(:transaction, :account_from_id, @cashes, :id, :name,
                            {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
      <%else%>
           <span class="account-name"><%= @transaction.account_from.name %></span>
      <%end%>
    </div>
    <div class="div-padding5">
      <%= f.label t(:category)%>
      <%if @task_new == true%><br/>
            <%= collection_select(:transaction, :category_id, @categories, :id, :name,
                            {:include_blank => t(:reserved_name)}, {:class=>"account-select"})%>
      <%else%>
          <span class="account-name"><%= @transaction.category.name %></span>
      <%end%>
    </div>
<%end%>
  <div class="div-padding5"><%= f.label t(:comment) %><br />
    <%= f.text_area :comment, :size => "60x6", :class => "text-area"%>
  </div>
  <div class="emptyh20">&nbsp;</div>
  <div class="actions form-buttons">
     <%= f.submit "", :class=>"save-button", :title=>t(:button_save)%>
  </div>
<% end %>
