<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><%=@task_new ?
                       get_new_title(@transaction.transaction_type) :
                       get_edit_title(@transaction.transaction_type)%>
        </h3>
    </div>
    <div class="modal-body">
        <%= form_for(@transaction, :remote =>true, :html => {:id =>'transaction_form',
                     :class=> 'form-horizontal well application-form'}) do |f| %>
            <%= f.hidden_field :transaction_type%>
            <%= f.hidden_field :user_id%>

            <%= render :partial => 'form_amount_field', :locals => {:f => f}%>
            <%= render :partial => 'form_date_field', :locals => {:f => f}%>

            <%if  @transaction.transaction_type.to_i == Transaction::TR_TO_ACCOUNT%>
                <%=render :partial => 'transactions/form_account_to_field'%>
            <%elsif  @transaction.transaction_type.to_i == Transaction::TR_FROM_ACCOUNT_TO_ACCOUNT%>
                <%=render :partial => 'transactions/form_account_from_field'%>
                <%=render :partial => 'transactions/form_account_to_field'%>
            <%elsif  @transaction.transaction_type.to_i == Transaction::TR_FROM_ACCOUNT_TO_CASH%>
                <%=render :partial => 'transactions/form_account_from_field'%>
                <%=render :partial => 'transactions/form_cash_to_field'%>
            <%elsif  @transaction.transaction_type.to_i == Transaction::TR_FROM_ACCOUNT_TO_CATEGORY%>
                <%=render :partial => 'transactions/form_account_from_field'%>
                <%=render :partial => 'transactions/form_category_field'%>
            <%elsif  @transaction.transaction_type.to_i == Transaction::TR_TO_CASH%>
                <%=render :partial => 'transactions/form_cash_to_field'%>
            <%elsif  @transaction.transaction_type.to_i == Transaction::TR_FROM_CASH_TO_ACCOUNT%>
                <%=render :partial => 'transactions/form_cash_from_field'%>
                <%=render :partial => 'transactions/form_account_to_field'%>
            <%elsif  @transaction.transaction_type.to_i == Transaction::TR_FROM_CASH_TO_CASH%>
                <%=render :partial => 'transactions/form_cash_from_field'%>
                <%=render :partial => 'transactions/form_cash_to_field'%>
            <%elsif  @transaction.transaction_type.to_i == Transaction::TR_FROM_CASH_TO_CATEGORY%>
                <%=render :partial => 'transactions/form_cash_from_field'%>
                <%=render :partial => 'transactions/form_category_field'%>
            <%end%>

            <%= render :partial => 'form_comment_field', :locals => {:f => f}%>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">
        <%=t('button.back')%>
      </button>
      <%= link_to '#', :id => 'form_submit', class: 'btn btn-primary', :title => t('button.save') do%>
          <i class="icon-ok icon-white"></i> <%=t('button.save')%>
      <%end%>
    </div>
</div>