<tr>
  <td class="td-center">
    <%= link_to edit_transaction_path(transaction, :page => @p), :class => 'btn link-edit' do%>
        <i class="icon-pencil"></i>
    <%end%>
    <%= link_to transaction, method: :delete, :class => 'btn link-delete' do%>
        <i class="icon-trash"></i>
    <%end%>
  </td>

  <td><div class="badge badge-black-font"
           style="background-color: <%=get_row_color_by_date(transaction.date)%>"><%=transaction.date%></div></td>
  <td><%=transaction.amount%></td>

  <%if Transaction::TR_GROUP_TO.include?(transaction.transaction_type)%>
      <td>
          <span title="<%=transaction.account_to.description%>">
            <%=transaction.account_to.name%> (<%=round_float(transaction.account_to.amount)%>)
          </span>
      </td>
  <%elsif Transaction::TR_GROUP_FROM_TO.include?(transaction.transaction_type)%>
      <td>
         <span title="<%=transaction.account_from.description%>">
            <%=transaction.account_from.name%> (<%=round_float(transaction.account_from.amount)%>)
         </span>
      </td>
      <td>
         <span title="<%=transaction.account_to.description%>">
            <%=transaction.account_to.name%> (<%=round_float(transaction.account_to.amount)%>)
         </span>
      </td>
  <%elsif Transaction::TR_GROUP_TO_CATEGORY.include?(transaction.transaction_type)%>
      <td>
         <span title="<%=transaction.account_from.description%>">
           <%=transaction.account_from.name%> (<%=round_float(transaction.account_from.amount)%>)
         </span>
      </td>
      <td>
         <div class="color-indicator-small" style="background-color: <%=get_color(transaction.category)%>;">&nbsp;</div>
         <span title="<%=transaction.category.description%>">
            <%=transaction.category.name%>
        </span>
      </td>
  <%end%>
  <td class="hidden-phone"><%=transaction.comment %></td>
</tr>
