<div id="transaction_"<%=transaction.id%> class="data-item transaction-data-item">
    <span class="td-edit">
        <%= link_to t('button.edit'), edit_transaction_path(transaction, :page => @p),:class => "link" %>
    </span>
    <span class="td-delete">
        <%= link_to t('button.delete'), transaction, confirm: t('message.confirm.delete'), method: :delete, :class => "link link-delete" %>
    </span>
    <span class="body-transaction-date" style="background-color: <%=getRowColorByDate(transaction.date)%>">
        <%=transaction.date%>
    </span>
    <span class="body-transaction-summa">
        <%=transaction.amount%>
    </span>
    <%if transaction.transaction_type == Transaction::TRANSACTION_TO_ACCOUNT ||
          transaction.transaction_type == Transaction::TRANSACTION_TO_CASH%>
        <span class="body-transaction-account">
          <%=transaction.account_to.name%> (<%=roundFloatTwoDigits(transaction.account_to.amount)%>)
        </span>
    <%elsif transaction.transaction_type == Transaction::TRANSACTION_FROM_ACCOUNT_TO_ACCOUNT ||
            transaction.transaction_type == Transaction::TRANSACTION_FROM_ACCOUNT_TO_CASH ||
            transaction.transaction_type == Transaction::TRANSACTION_FROM_CASH_TO_ACCOUNT ||
            transaction.transaction_type == Transaction::TRANSACTION_FROM_CASH_TO_CASH%>
        <span class="body-transaction-account">
          <%=transaction.account_from.name%> (<%=roundFloatTwoDigits(transaction.account_from.amount)%>)
        </span>
        <span class="body-transaction-account">
          <%=transaction.account_to.name%> (<%=roundFloatTwoDigits(transaction.account_to.amount)%>)
        </span>
    <%elsif transaction.transaction_type == Transaction::TRANSACTION_FROM_ACCOUNT_TO_CATEGORY ||
            transaction.transaction_type == Transaction::TRANSACTION_FROM_CASH_TO_CATEGORY%>
        <span class="body-transaction-account">
          <%=transaction.account_from.name%> (<%=roundFloatTwoDigits(transaction.account_from.amount)%>)
        </span>
        <span class="body-transaction-account">
          <%=transaction.category.name%>
        </span>
    <%end%>
    <%if !transaction.comment.nil? && !transaction.comment.blank?%>
        <div class="body-transaction-comment">
            <%=transaction.comment %>
        </div>
    <%end%>
</div>