<%= render :partial => 'transactions_menu'%>
<%= render :partial => 'day_popup'%>

<div class="form-container"></div>

<!--data table-->
<div class="row-fluid">
  <div class="span12 table-container">

  </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        new Transactions({
            color_popup_title: '<%=t('day_color_popup_title')%>',
            delete_confirm: '<%=t('message.confirm.delete')%>',
            errors: {
                transaction_delete: '<%=I18n.t('error.transaction.deleted')%>'
            }
        });
    });
</script>