<%=render '/notifications'%>

<!--sorting and filter form-->
<div class="row-fluid">
  <div class="span12">
    <%= render 'filter'%>
  </div>
</div>

<!--data table-->
<div class="row-fluid">
  <div class="span12">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
          <tr class="well">
            <th width="10%">&nbsp;</th>
            <th width="8%"><%=t('field.common.date')%></th>
            <th width="5%"><%=t('field.transaction.summa')%></th>
            <%=createTransactionTableHeader(@transaction_type)%>
            <th width="37%" class="hidden-phone"><%=t('field.transaction.comment')%></th>
          </tr>
      </thead>
      <tbody id="dataWrapperID"></tbody>
    </table>
  </div>
</div>

<!--dat of week color popup-->
<div id="dayOfWeekPopupID" class="no-disp">
  <ul class="no-list-style">
    <li>
      <div class="color-indicator-small" style="background-color: <%=getRowColorByDayOfWeek(1)%>;">&nbsp;</div>
      <%=t('week.day.monday')%>
    </li>
    <li>
      <div class="color-indicator-small" style="background-color: <%=getRowColorByDayOfWeek(2)%>;">&nbsp;</div>
      <%=t('week.day.tuesday')%>
    </li>
    <li>
      <div class="color-indicator-small" style="background-color: <%=getRowColorByDayOfWeek(3)%>;">&nbsp;</div>
      <%=t('week.day.wednesday')%>
    </li>
    <li>
      <div class="color-indicator-small" style="background-color: <%=getRowColorByDayOfWeek(4)%>;">&nbsp;</div>
      <%=t('week.day.thursday')%>
    </li>
    <li>
      <div class="color-indicator-small" style="background-color: <%=getRowColorByDayOfWeek(5)%>;">&nbsp;</div>
      <%=t('week.day.friday')%>
    </li>
    <li>
      <div class="color-indicator-small" style="background-color: <%=getRowColorByDayOfWeek(6)%>;">&nbsp;</div>
      <%=t('week.day.saturday')%>
    </li>
    <li>
      <div class="color-indicator-small" style="background-color: <%=getRowColorByDayOfWeek(0)%>;">&nbsp;</div>
      <%=t('week.day.sunday')%>
    </li>
  </ul>
</div>

<script type="text/javascript">
    var dayColorPopupTitle = "<%=t('day_color_popup_title')%>";
    jQuery(document).ready(function(){
        transactionsJS.init(<%=@transaction_type%>);
    });
</script>