<div id="tableWrapperID">
  <div id="tableWrapperHeaderID">
    <span>
      <%=getIndexTitle(@transaction_type)%>
    </span>
  </div>
  <div id="tableWrapperBodyID">
    <%= render 'filter'%>
    <table id="dataTableID">
      <thead>
          <tr>
            <th id="editButtonsHeaderID">&nbsp;</th>
            <th id="transactionDateHeaderID">
              <%=t('field.common.date')%>
            </th>
            <th id="transactionSumHeaderID">
              <%=t('field.transaction.summa')%>
            </th>
            <%=createTransactionTableHeader(@transaction_type)%>
            <th></th>
            <th></th>
          </tr>
      </thead>
    </table>
    <div id="dataWrapperID">
      <div id="loadingIndicatorID"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        transactionsJS.init(<%=@transaction_type%>);
    });
</script>