<%listTitles = {0.to_s(10) => t(:transactions_to_account_list),
                1.to_s(10) => t(:transactions_from_account_to_account_list),
                2.to_s(10) => t(:transactions_from_account_to_cash_list),
                3.to_s(10) => t(:transactions_from_account_to_category_list),
                4.to_s(10) => t(:transactions_to_cash_list),
                5.to_s(10) => t(:transactions_from_cash_to_account_list),
                6.to_s(10) => t(:transactions_from_cash_to_cash_list),
                7.to_s(10) => t(:transactions_from_cash_to_category_list)}%>

<div class="table-wrapper">
  <div class="table-wrapper-header">
    <span>
      <%=listTitles[@transaction_type]%>
    </span>
  </div>
  <div class="table-wrapper-body">
    <%= link_to t(:add_new_transaction), new_transaction_path(:type => @transaction_type), :class => "link" %>
    <table class="data-table">
      <thead>
      <tr>
        <th><%=t(:date)%></th>
        <th><%=t(:amount)%></th>
        <%if @transaction_type == getTransactionToAccount.to_s(10)%>
            <th><%=t(:account_to)%></th>
        <%elsif @transaction_type == getTransactionFromAccountToAccount.to_s(10)%>
            <th><%=t(:account_from)%></th>
            <th><%=t(:account_to)%></th>
        <%elsif @transaction_type == getTransactionFromAccountToCash.to_s(10)%>
            <th><%=t(:account_from)%></th>
            <th><%=t(:cash_to)%></th>
        <%elsif @transaction_type == getTransactionFromAccountToCategory.to_s(10)%>
            <th><%=t(:account_from)%></th>
            <th><%=t(:category)%></th>
        <%elsif @transaction_type == getTransactionToCash.to_s(10)%>
            <th><%=t(:cash_to)%></th>
        <%elsif @transaction_type == getTransactionFromCashToAccount.to_s(10)%>
            <th><%=t(:cash_from)%></th>
            <th><%=t(:account_to)%></th>
        <%elsif @transaction_type == getTransactionFromCashToCash.to_s(10)%>
            <th><%=t(:cash_from)%></th>
            <th><%=t(:cash_to)%></th>
        <%elsif @transaction_type == getTransactionFromCashToCategory.to_s(10)%>
            <th><%=t(:cash_from)%></th>
            <th><%=t(:category)%></th>
        <%end%>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @transactions.each do |transaction| %>
          <tr>
            <td class="td-transaction-date"><%=transaction.date%></td>
            <td class="td-transaction-amount"><%=transaction.amount%></td>
            <%if @transaction_type == getTransactionToAccount.to_s(10) ||
                 @transaction_type == getTransactionToCash.to_s(10)%>
               <td class="td-transaction-account"><%=transaction.account_to.name%></td>
            <%elsif @transaction_type == getTransactionFromAccountToAccount.to_s(10) ||
                    @transaction_type == getTransactionFromAccountToCash.to_s(10) ||
                    @transaction_type == getTransactionFromCashToAccount.to_s(10) ||
                    @transaction_type == getTransactionFromCashToCash.to_s(10)%>
                <td class="td-transaction-account"><%=transaction.account_from.name%></td>
                <td class="td-transaction-account"><%=transaction.account_to.name%></td>
            <%elsif @transaction_type == getTransactionFromAccountToCategory.to_s(10) ||
                    @transaction_type == getTransactionFromCashToCategory.to_s(10)%>
                <td class="td-transaction-account"><%=transaction.account_from.name%></td>
                <td class="td-transaction-account"><%=transaction.categoty.name%></td>
            <%end%>
            <td class="td-edit"><%= link_to t(:button_edit), edit_transaction_path(transaction, :type => @transaction_type),:class => "link" %></td>
            <td class="td-delete"><%= link_to t(:button_delete), transaction, confirm: t(:message_record_delete_confirm), method: :delete, :class => "link link-delete" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>