<div class="table-wrapper">
  <div class="table-wrapper-header">
    <span>
      <%=getIndexTitle(@transaction_type)%>
    </span>
  </div>
  <div class="table-wrapper-body">
    <%= link_to t(:add_new_transaction), new_transaction_path(:type => @transaction_type), :class => "link" %>
    <table class="data-table">
      <thead>
      <tr>
        <th><%=t(:date)%></th>
        <th><%=t(:amount)%></th>
        <%if @transaction_type == getTransactionToAccount.to_s(10)%>
            <th><%=t(:account_to)%></th>
        <%elsif @transaction_type == getTransactionFromAccountToAccount.to_s(10)%>
            <th><%=t(:account_from)%></th>
            <th><%=t(:account_to)%></th>
        <%elsif @transaction_type == getTransactionFromAccountToCash.to_s(10)%>
            <th><%=t(:account_from)%></th>
            <th><%=t(:cash_to)%></th>
        <%elsif @transaction_type == getTransactionFromAccountToCategory.to_s(10)%>
            <th><%=t(:account_from)%></th>
            <th><%=t(:category)%></th>
        <%elsif @transaction_type == getTransactionToCash.to_s(10)%>
            <th><%=t(:cash_to)%></th>
        <%elsif @transaction_type == getTransactionFromCashToAccount.to_s(10)%>
            <th><%=t(:cash_from)%></th>
            <th><%=t(:account_to)%></th>
        <%elsif @transaction_type == getTransactionFromCashToCash.to_s(10)%>
            <th><%=t(:cash_from)%></th>
            <th><%=t(:cash_to)%></th>
        <%elsif @transaction_type == getTransactionFromCashToCategory.to_s(10)%>
            <th><%=t(:cash_from)%></th>
            <th><%=t(:category)%></th>
        <%end%>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @transactions.each do |transaction| %>
          <tr>
            <td class="td-transaction-date" style="background-color: <%=getRowColorByDate(transaction.date)%>"><%=transaction.date%></td>
            <td class="td-transaction-amount"><%=transaction.amount%></td>
            <%if @transaction_type == getTransactionToAccount.to_s(10) ||
                 @transaction_type == getTransactionToCash.to_s(10)%>
               <td class="td-transaction-account">
                 <%=transaction.account_to.name%> (<%=transaction.account_to.amount%>)
               </td>
            <%elsif @transaction_type == getTransactionFromAccountToAccount.to_s(10) ||
                    @transaction_type == getTransactionFromAccountToCash.to_s(10) ||
                    @transaction_type == getTransactionFromCashToAccount.to_s(10) ||
                    @transaction_type == getTransactionFromCashToCash.to_s(10)%>
                <td class="td-transaction-account">
                  <%=transaction.account_from.name%> (<%=transaction.account_from.amount%>)
                </td>
                <td class="td-transaction-account">
                  <%=transaction.account_to.name%> (<%=transaction.account_to.amount%>)
                </td>
            <%elsif @transaction_type == getTransactionFromAccountToCategory.to_s(10) ||
                    @transaction_type == getTransactionFromCashToCategory.to_s(10)%>
                <td class="td-transaction-account">
                  <%=transaction.account_from.name%> (<%=transaction.account_from.amount%>)
                </td>
                <td class="td-transaction-account"><%=transaction.category.name%></td>
            <%end%>
            <td class="td-edit"><%= link_to t(:button_edit), edit_transaction_path(transaction, :type => @transaction_type),:class => "link" %></td>
            <td class="td-delete"><%= link_to t(:button_delete), transaction, confirm: t(:message_record_delete_confirm), method: :delete, :class => "link link-delete" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>