<div id="features">
  <h5><%=t('features.title')%></h5>
  <ul>
    <li><%=t('features.feature1')%></li>
    <li><%=t('features.feature2')%></li>
    <li><%=t('features.feature3')%></li>
    <li><%=t('features.feature4')%>:
      <ul>
        <li><%=t('menu.transaction.to_account')%></li>
        <li><%=t('menu.transaction.from_account.to_account')%></li>
        <li><%=t('menu.transaction.from_account.to_cash')%></li>
        <li><%=t('menu.transaction.from_account.to_category')%></li>
        <li><%=t('menu.transaction.to_cash')%></li>
        <li><%=t('menu.transaction.from_cash.to_account')%></li>
        <li><%=t('menu.transaction.from_cash.to_cash')%></li>
        <li><%=t('menu.transaction.from_cash.to_category')%></li>
      </ul>
    </li>
    <li><%=t('features.feature5')%></li>
    <li><%=t('features.feature6')%>:
      <ul>
        <li><%=t('menu.transaction.from_account.to_category')%></li>
        <li><%=t('menu.transaction.from_cash.to_category')%></li>
      </ul>
    </li>
    <li><%=t('features.feature7')%></li>
    <li><%=t('features.feature8')%></li>
  </ul>
</div>