<%if user_signed_in?%>
    <div class="menu-wrapper">
      <div class="menu">
        <ul>
          <li><a href="#" id="transactions"><%=t(:menu_transaction)%></a>
            <ul>
              <li><%= link_to t(:menu_transaction_from_cash), transactions_path(:type => getTransactionFromCashToCategory)%></li>
              <li><%= link_to t(:menu_transaction_from_account_to_cash), transactions_path(:type => getTransactionFromAccountToCash)%></li>
              <li><%= link_to t(:menu_transaction_to_account), transactions_path(:type => getTransactionToAccount)%></li>
              <li><%= link_to t(:menu_transaction_to_cash), transactions_path(:type => getTransactionToCash)%></li>
              <li><%= link_to t(:menu_transaction_from_cash_to_cash), transactions_path(:type => getTransactionFromCashToCash)%></li>
              <li><%= link_to t(:menu_transaction_from_account_to_category), transactions_path(:type => getTransactionFromAccountToCategory)%></li>
              <li><%= link_to t(:menu_transaction_from_account_to_account), transactions_path(:type => getTransactionFromAccountToAccount)%></li>
              <li><%= link_to t(:menu_transaction_from_cash_to_account), transactions_path(:type => getTransactionFromCashToAccount)%></li>
            </ul>
          </li>
          <li><%= link_to t(:menu_accounts), accounts_path(:type => getAccountCardType)%></li>
          <li><%= link_to t(:menu_cashes), accounts_path(:type => getAccountCashType) %>
          <li><%= link_to t(:menu_categories), categories_path %></li>
          <li><a href="#"><%=t(:menu_statistics)%></a>
            <ul>
              <li><%= link_to t(:menu_statistic_date), statistic_date_path %></li>
              <li><%= link_to t(:menu_statistic_category), statistic_category_path %></li>
            </ul>
          </li>
          <li><%= link_to t(:menu_fooddiary), weights_path %></li>
          <li><a href="#"><%=t(:menu_profile)%></a></li>
          <li>
               <%=link_to t(:menu_logout), destroy_user_session_path,
                          {:method=>"DELETE", :id=>"sign_out", :confirm => t(:message_logout_confirm)} %>
          </li>
        </ul>
      </div>
    </div>
<%end%>
