<!DOCTYPE html>
<html>
<head>
  <title><%=t('application.title')%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name='loginza-verification' content='4ae29a920f04a7d7d6e56d6562a3f1d0' />
</head>
<body>
    <div class="viewport">
        <div id="headerID">
            <div id="logoImageID"></div>
            <div id="logoID"><%=t('application.title')%></div>
            <div id="currentUserID">
              <%if !current_user.nil? %>
                <%=t('application.user')%><span><%=link_to user_full_name, edit_user_profile_path%></span>
                <span><%=link_to t('menu.logout'), destroy_user_session_path,
                             {:method=>"DELETE", :id=>"sign_out", :confirm => t('message.confirm.logout')} %></span>
              <%end%>
            </div>
        </div>
        <%=render 'common/menu'%>
        <div id="contentID">
            <%= yield %>
        </div>
    </div>
</body>
</html>
