<!DOCTYPE html>
<html>
<head>
  <title><%=t('application.title')%></title>
  <meta name="description" content=<%=t('application.description')%>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="viewport">
        <div class="header">
            <div class="logo-image"></div>
            <div class="logo"><%=t('application.title')%></div>

            <div class="current-user">
              <%if !current_user.nil? %>
                <%=t('application.user')+" "+user_full_name %>
              <%end%>
            </div>
        </div>
        <%=render 'common/menu'%>
        <div class="content">
            <%= yield %>
        </div>
    </div>
</body>
</html>
