<!DOCTYPE html>
<html>
<head>
  <title><%=t(:application_title)%></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="viewport">
        <div class="header">
            <div class="logo-image"></div>
            <div class="logo"><%=t(:application_title)%></div>

            <div class="current-user">
              <%if !current_user.nil? %>
                <%=t(:welcome)+" "+current_user.email %>
              <%end%>
            </div>
        </div>
        <%=render 'common/menu'%>
        <div class="content">
            <%= yield %>
        </div>
    </div>
</body>
</html>
