<!DOCTYPE html>
<html>
    <head>
      <title><%=t('application.title')%></title>
      <%= stylesheet_link_tag    'application', :media => 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
      <meta name='loginza-verification' content='4ae29a920f04a7d7d6e56d6562a3f1d0' />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%= render 'common/main_menu'%>

        <div class="container-fluid">
          <%if user_signed_in? %>
            <div class="row-fluid">
              <div class="span12">
                <%= yield %>
              </div>
            </div>
          <%else%>
            <%= yield %>
          <%end%>
        </div>

        <%= render 'common/footer'%>
    </body>
</html>
