<tr>
  <td class="td-center">
    <%= link_to edit_account_path(account, :type => @account_type), :class => 'btn' do%>
        <i class="icon-pencil"></i>
    <%end%>
    <%= link_to account, method: :delete, :class => 'btn link-delete' do%>
        <i class="icon-trash"></i>
    <%end%>
  </td>
  <td><%=account.amount%></td>
  <td><%=account.name%></td>
  <td><%=account.description%></td>
</tr>