
    <%= form_tag(sort_accounts_path, :id =>"accountSortingFormId", :method=>:post, :remote => true,
                 :class => "form-inline well") do -%>
        <%= hidden_field_tag "type", @account_type%>
        <legend><%=getAccountIndexTitle(@account_type)%></legend>
        <%=link_to new_account_path(:type => @account_type), :class => "btn btn-success", :title => t('button.add') do%>
            <i class="icon-plus icon-white"></i> <%=t('button.add')%>
        <%end%>
        <%= label_tag "field", t('sorting_by'), :class => "control-label marginleft10px hidden-phone"%>
        <%= select_tag "field", getAccountsSortingOptionList(@field).html_safe , :id => "field",
                       :class => "input-medium hidden-phone", :title => t('tooltip.input.sorting_field')%>
        <%= select_tag "direction", getSortingDirectionOptionList(@direction).html_safe , :id => "direction",
                       :class => "input-medium hidden-phone", :title => t('tooltip.input.sorting_direction')%>
    <% end -%>
  </div>
</div>