<!--categories form-->
<div class="row-fluid">
    <div class="span8">
        <%= form_for(@account, :html => {:class=> 'form-horizontal well application-form'}) do |f| %>
          <%= f.hidden_field :account_type%>
          <%= f.hidden_field :user_id%>

          <legend><%=@legend%></legend>

          <%= render :partial => 'accounts/account_error_block'%>

          <%= render :partial => 'accounts/account_name_field', :locals => {:f => f}%>
          <%= render :partial => 'accounts/account_description_field', :locals => {:f => f}%>
          <%= render :partial => 'accounts/account_amount_field', :locals => {:f => f}%>

          <%= render :partial => 'accounts/form_buttons'%>
        <% end %>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        new AccountsForm({
            account_type: <%=@account.account_type.to_i%>,
            ACCOUNT_TYPE_CARD: <%=Account::ACCOUNT_CARD_TYPE%>,
            ACCOUNT_TYPE_CASH: <%=Account::ACCOUNT_CASH_TYPE%>
        });
    });
</script>