<div class="table-wrapper">
  <div class="table-wrapper-header">
    <span>
      <%=getAccountIndexTitle(@account_type)%>
    </span>
  </div>
  <div class="table-wrapper-body">
    <%=getAddButtonLink(@account_type)%>
    <%= form_tag(sort_accounts_path, :id =>"accountSortingFormId", :method=>:post, :remote => true, :class => "category-sorting-form") do -%>
        <div class="category-sorting-form">
          <%= hidden_field_tag "type", @account_type%>
          <%= label_tag "field", t('sorting_by'), :class => "statistic-date-label", :style => "font-weight: bold;"%>
          <%= select_tag "field", getAccountsSortingOptionList.html_safe , :id => "field_id"%>
          <%= select_tag "direction", getSortingDirectionOptionList.html_safe , :id => "direction_id"%>
        </div>
    <% end -%>
    <table class="data-table">
      <thead>
      <tr>
        <th class="header-buttons">&nbsp;</th>
        <th class="header-account-name"><%=t('field.common.name')%></th>
        <th class="header-account-description"><%=t('field.common.description')%></th>
        <th class="header-account-amount"><%=t('field.account.amount')%></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
    </table>
    <div class="data-wrapper">
      <!--accounts will be rendered here-->
    </div>
  </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
       accountsListInit(<%=@account_type%>)
    });
</script>