<div class="table-wrapper">
  <div class="table-wrapper-header">
    <span>
      <%=getIndexTitle(@account_type)%>
    </span>
  </div>
  <div class="table-wrapper-body">
    <%=getAddButtonLink(@account_type)%>
    <table class="data-table">
      <thead>
      <tr>
        <th class="header-account-amount"><%=t(:amount)%></th>
        <th class="header-account-name"><%=t(:name)%></th>
        <th class="header-account-description"><%=t(:description)%></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
    </table>
    <div class="data-wrapper">
        <% @accounts.each do |account| %>
          <div class="data-item account-data-item">
            <span class="body-account-amount"><strong><%=account.amount%></strong></span>
            <span class="body-account-name"><strong><%=account.name%></strong></span>
            <span class="body-account-description"><%=account.description%></span>
            <span class="td-delete">
              <%= link_to t(:button_delete), account,
                          confirm: t(:message_record_delete_confirm), method: :delete, :class => "link link-delete" %>
            </span>
            <span class="td-edit">
              <%= link_to t(:button_edit), edit_account_path(account, :type => @account_type),:class => "link" %>
            </span>
          </div>
        <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        resizeDataWrapper();
        jQuery(window).resize(function(){resizeDataWrapper();});
    });
</script>