<%=render '/notifications'%>

<!--sorting form-->
<!--<div class="row-fluid">-->
  <!--<div class="span12">-->
     <!--<%#= render :partial => 'accounts/filter'%>-->
  <!--</div>-->
<!--</div>-->

<!--data table-->
<div class="row-fluid">
  <div class="span12">
    <table class="table table-hover table-condensed">
      <thead>
        <tr class="well">
            <th>
              <%=link_to new_account_path(:type => @account_type), :class => 'btn btn-success', :title => t('button.add') do%>
                  <i class="icon-plus icon-white"></i> <%=t('button.add')%>
              <%end%>
            </th>
            <th width="10%">
              <%=link_to t('field.account.amount'), '#', :class => 'sorting-header', :data_field => 'amount'%>
              <i class="icon-arrow-up no-disp"></i>
              <i class="icon-arrow-down no-disp"></i>
            </th>
            <th width="30%">
              <%=link_to t('field.common.name'), '#', :class => 'sorting-header', :data_field => 'name'%>
              <i class="icon-arrow-up"></i>
              <i class="icon-arrow-down no-disp"></i>
            </th>
            <th width="50%">
              <%=link_to t('field.common.description'), '#', :class => 'sorting-header', :data_field => 'description'%>
              <i class="icon-arrow-up no-disp"></i>
              <i class="icon-arrow-down no-disp"></i>
            </th>
        </tr>
      </thead>
      <tbody id="data_wrapper"></tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
       new AccountsIndex({
           account_type: <%=@account_type%>,
           ACCOUNT_TYPE_CARD: <%=Account::ACCOUNT_CARD_TYPE%>,
           ACCOUNT_TYPE_CASH: <%=Account::ACCOUNT_CASH_TYPE%>
       });
    });
</script>