<p id="notice"><%= notice %></p>
<div class="category-details">
  <div class="form-header">
    <span>
      <%=t(:form_show_category_title)%>
    </span>
  </div>
  <div class="form-body">
    <div>
      <span><%=t(:name)%></span>
      <span><strong><%=@account.name%></strong></span>
    </div>
    <div>
      <span><%=t(:description)%></span>
      <span><strong><%=@account.description%></strong></span>
    </div>
    <div>
      <span><%=t(:amount)%></span>
      <span><strong><%=@account.amount%></strong></span>
    </div>
    <div class="link-wrapper">
      <%= link_to t(:button_back), accounts_path(:type=>@account_type), :class => "link" %>
      <%= link_to t(:button_edit), edit_account_path(@category, :type=>@account_type), :class => "link" %>
    </div>
  </div>
</div>
